mixin videoBlock(video = {})
  .videoBlock
    a(href=routes.videoDetail(video.id))
      video.videoBlock__thumnail(src=video.videoFile /*AWS S3 사용시 src=video.videoFile, 로컬 사용시 /${video.videoFile}*/)
      h4.videoBlock__title=video.title
      h6.videoBlock__views #{video.views} 回視聴